* text=auto !eol
/AUTHORS -text
/Bastelcmd.h -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/PowerCommander.h -text
/README -text
/blutils.c -text
/blutils.h -text
/bootstrap.sh -text
/can-encap.c -text
/can-encap.h -text
/can-posix.c -text
/can-tcp.c -text
/can-tcp.h -text
/can-uart.c -text
/can-uart.h -text
/can.h -text
/cansole.c -text
/cansole.h -text
/cmds-base.c -text
/cmds-base.h -text
/cmds-bastel.c -text
/cmds-bastel.h -text
/cmds-borg.c -text
/cmds-borg.h -text
/cmds-canir.c -text
/cmds-canir.h -text
/cmds-cantemp.c -text
/cmds-cantemp.h -text
/cmds-flash.c -text
/cmds-flash.h -text
/cmds-gateway.c -text
/cmds-gateway.h -text
/cmds-mood.c -text
/cmds-mood.h -text
/cmds-musicd.c -text
/cmds-musicd.h -text
/cmds-powercommander.c -text
/cmds-powercommander.h -text
/cmds-powermeter.c -text
/cmds-powermeter.h -text
/cmds-test.c -text
/cmds-test.h -text
/cmds-treppenblink.c -text
/cmds-treppenblink.h -text
/config.h -text
/configure.in -text
/crc16.c -text
/debug.c -text
/debug.h -text
/lap.c -text
/lap.h -text
/main.c -text
/proto_lampe.c -text
/proto_lampe.h -text
/svn_Externals -text
/svn_Ignore -text
/termio.c -text
/uart-host.c -text
/uart-host.h -text
